<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>5star Beaches</title>
        <link rel="stylesheet" href="feaut.css">
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        
    </head>
  
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">
    
          <!-- Brand -->
          <a class="navbar-brand" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
            <strong></strong>
          </a>
    
          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://mdbootstrap.com/docs/jquery/" target="_blank">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../beach/contact.html" target="_blank">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://mdbootstrap.com/education/bootstrap/" target="_blank"></a>
              </li>
            </ul>
    
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a href="https://www.facebook.com/mdbootstrap" class="nav-link" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://twitter.com/MDBootstrap" class="nav-link" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded"
                  target="_blank">
                  <i class="fab fa-github mr-2"></i>
                </a>
              </li>
            </ul>
    
          </div>
    
        </div>
      </nav>
      <!-- Navbar -->



      

      <main>
        <div class="text-center header">
            <h3 class="mb-3"> Featured Beaches</h3>


        </div>
            <div class="container">
        
              <!--Section: Main info-->
              <section class="mt-2 wow fadeIn margin-auto">
        
                <!--Grid row-->
                <div class="row">
        
                  <!--Grid column-->
                  <div class="col-md-6 mb-3 mt-3">
        
                    <img src="static/d.jpeg" class="img-fluid z-depth-1-half beach mb-4"
                      alt="">
                    <img src="static/c.jpeg" class="img-fluid z-depth-1-half beach mb-4"
                      alt="">
                      
        
                  </div>
                  <!--Grid column-->
        
                  <!--Grid column-->
                  <div class="col-md-6  bali">
        
                    <!-- Main heading -->
                    <div class="mt-5 mb-4 first">
                      <p>Kuta Beach Bali,Indonesia</p>
                      <p>★ ★ ★ ★ ★</p>
                      <p>364 average sunny days a year, Kuta has everything from surfing to sunbathing.</p>
                    <!-- Main heading -->
                    <a href="../beach/other.html"> <button class="reserve" > RESERVE NOW </button> </a>
                    </div>
                    <div class="mb-4 second">
                      <p>Honolulu Hawaii</p>
                        <p>★ ★ ★ ★ </p>
                          
                        <p>Honolulu is known for its miles upon miles of gorgeous sand and crystal clear water</p>
                        <!-- Main heading -->
                       <a href="../beach/other.html"> <button class="reserve" > RESERVE NOW </button> </a>
                    </div>
                    <hr>
                    
                    


                    